<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Published</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/published.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/d33db132e0.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/ajax-loader.gif">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.video.play.png">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/dropzone.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/dropzone.css">
</head>
<body>
    <header class="header sticky-top">
        <div class="container">
            <div class="row">
                <div class="col">
                    <nav class="navbar input-group align-items-center">
                            <a href="#" class="handle_margin_nav">
                                <img src="img/New-business-logo-UA.svg" alt="logo" class='logo'>
                            </a>
                            <input type="text" class="form-control input-search" 
                            placeholder="Пошук">
                            <div class="dropdown">
                                <button class="form-control dropdown-toggle bg-light region_search" 
                                id="navbarDropdown" role="button" 
                                data-toggle="dropdown" 
                                aria-haspopup="true" 
                                aria-expanded="false"><span>Київська область</span></button>

                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Київська область</a>
                                    <a class="dropdown-item" href="#">Київська область</a>
                                    <a class="dropdown-item" href="#">Київська область</a>
                                </div>
                                </div>
                            <div class="input-group-append handle_margin_nav">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                            <button type="button" class="btn btn-login handle_margin_nav handle_padding_btn">Увійти</button>
                            
                            <button class="navbar-dark navbar-toggler navbar-light" 
                                    type="button" data-toggle="collapse" 
                                    data-target="#navbar" 
                                    aria-controls="navbarSupportedContent" 
                                    aria-expanded="false" 
                                    aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbar">
                            <ul class="navbar-nav text-right">
                                <li class="nav-item"><a class="nav-link" href="#link-1">Меню 1</a></li>
                                <li class="nav-item"><a class="nav-link" href="#link-2">Меню 2</a></li>
                                <li class="nav-item"><a class="nav-link" href="#link-3">Меню 3</a></li>
                                <li class="nav-item"><a class="nav-link" href="#link-4">Меню 4</a></li>
                                <li class="nav-item"><a class="nav-link" href="#link-5">Меню 5</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
    </header>
    
    <section class="published-wrapper">
        <div class="container">
            <p class="published-section-title">Публікація успішна</p>
            
            
            <div class="container">
                <div class="row published-wrapper-items">
                    <div class="col-sm-12 published-item">
                        <div class="published-item-thumb">
                            <img class="published-item-img" 
                            src="img/card-img-big.png" alt="">
                        </div>
                        <div class="published-item-desrc">
                            <h5 class="published-item-title">Двоповерховий будинок</h5>
                            <p class="published-item-price">500 000 грн</p>
                            <p class="published-item-text"> Раніше вважалося, що ставкова жаба є 
                                                підвидом жаби їстівної Р. esculentus (Р. esculentus lessonae), 
                                                і остання трапляється в межах більшої частини України, а Р. 
                                                esculentus esculentus живе у пониззі Дунаю та на Закарпатті.</p>
                            <p class="card-published">О4.06.2020</p>
                        </div>
                    </div>
                    <div class="col-sm-12 form-row form-row-published">
                        <div class="col-sm-4">
                            <div class="form-group"> 
                                <button class="btn btn-stock-active">
                                    <img src="img/star-and-ribbon.svg" alt="">
                                    <p class="published-list-title">Просувати пропозицію</p>
                                    <p class="published-list-items"><span class="icon-check"></span>&nbsp;Підняття вгору списку</p>
                                    <p class="published-list-items"><span class="icon-check"></span>&nbsp;Топ-оголошення на 3 дні</p>
                                </button>
                            </div> 
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group"> 
                                <button class="btn btn-stock-active">
                                    <img src="img/crown.svg" alt="">
                                    <p class="published-list-title">Просувати пропозицію</p>
                                    <p class="published-list-items"><span class="icon-check"></span>&nbsp;Підняття вгору списку</p>
                                    <p class="published-list-items"><span class="icon-check"></span>&nbsp;Топ-оголошення на 3 дні</p>
                                </button>
                            </div> 
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group"> 
                                <button class="btn btn-stock-active">
                                    <img src="img/edit.svg" alt="">
                                    <p class="published-list-title">Редагувати пропозицію</p>
                                    <p class="published-list-items" style="visibility:hidden;">.</p>
                                    <p class="published-list-items" style="visibility:hidden;">.</p>
                                </button>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
            <p class="published-section-title">Інші послуги</p>
            <div class="col-sm-12 published-section-item-price-wrapper">
                <div class="form-group">
                    <input class="form-check-input"  type="checkbox" id="top3-published"/>
                    <label class="form-check-label" for="top3-published">
                        В топ-3 на тиждень
                    </label>
                        <span class="published-price">100 грн</span>
                </div>
            </div>
                <div class="col-sm-12 published-section-item-price-wrapper">
                <div class="form-group">
                    <input class="form-check-input"  type="checkbox" id="to5-published"/>
                    <label class="form-check-label" for="top5-published">
                        В топ-5 на тиждень
                    </label>
                    <span class="published-price">80 грн</span>
                </div>
            </div>
                <div class="col-sm-12 published-section-item-price-wrapper">
                <div class="form-group">
                    <input class="form-check-input"  type="checkbox" id="top10-published"/>
                    <label class="form-check-label" for="top10-published">
                        В топ-10 на тиждень
                    </label>
                    <span class="published-price">50 грн</span>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <nav class="footer-nav">
                    <div class="col-lg-3 footer-nav-title-costumers">
                        <ul class="footer-nav-list">
                            <span>Покупателям</span>
                            <li class="footer-nav-item"><a href="#">Как стать покупателем?</a></li>
                            <li class="footer-nav-item"><a href="#">О безопасных контактах</a></li>
                            <li class="footer-nav-item"><a href="#">Рекомендации по профилю</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 footer-nav-title-sellers">
                        <ul class="footer-nav-list">
                            <span>Продавцам</span>
                            <li class="footer-nav-item"><a href="#">Как стать покупателем?</a></li>
                            <li class="footer-nav-item"><a href="#">О безопасных контактах</a></li>
                            <li class="footer-nav-item"><a href="#">Рекомендации по профилю</a></li>
                            <li class="footer-nav-item"><a href="#">О безопасных контактах</a></li>
                            <li class="footer-nav-item"><a href="#">Рекомендации по профилю</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 footer-nav-title-aboutus">
                        <ul class="footer-nav-list">
                            <span>О нас</span>
                            <li class="footer-nav-item"><a href="#">Как стать покупателем?</a></li>
                            <li class="footer-nav-item"><a href="#">О безопасных контактах</a></li>
                            <li class="footer-nav-item"><a href="#">Рекомендации по профилю</a></li>
                            <li class="footer-nav-item"><a href="#">О безопасных контактах</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 footer-nav-title-contacts">
                        <ul class="footer-nav-list">
                            <span>Контакты</span>
                            <li class="footer-nav-item"><a href="#">Lorem ipsum dolor sit amet.Lorem ipsum.</a></li>
                            <li class="footer-nav-item"><a href="#">Lorem ipsum dolor sit amet.Lorem ipsum.</a></li>
                            <li class="footer-nav-item"><a href="#">Lorem ipsum dolor sit amet.Lorem ipsum.</a></li>
                            <li class="footer-nav-item"><a href="#">Lorem ipsum dolor sit amet.Lorem ipsum.</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </footer>
</body>
</html>